@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav img {

  width: 90px;
  height: auto;
  margin: 5px 6px;
  border: 5px solid white;
  border-radius: 50%;
}

nav h1 {

  position: absolute;
  left: 420px;
  font-size: 25px;
  letter-spacing: 2px;
  color: #78633b;
}

.form-root {

  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3e7;
}

.form-root .icons {

  width: 42px;
  height: 38px;
}

.form-root .inp {

  width: 215px;
  height: 38px;
}

.form-root button {

  width: 100%;
}

.totelExpense {

  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3e7;
}

.totelExpense h1 {

  margin-top: 170px;
  background-color: #00000073;
  color: white;
  padding: 14px 41px;
  border-radius: 59px;
  font-size: 25px;
}

.list-Expensese {

  height: 31vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b653b;
}

footer {

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(16deg, #000000, #2f2f2f);
  color: #535353;
}


footer h1 {

  font-size: 26px;
  margin: 34px 34px 0;
  height: 100%;
}